@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style='margin-top:100px'>
    <h1 class="display-4">Welcome to your Contact Book</h1>
    <p style="font-size:30px"><a asp-page ="/PhoneBooks/Index">Show Contacts</a></p>
</div>
